body {
    background-color: #131417;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

div>p {
    color: white;
    text-align: center;
}

span::before {
    content: "Waiting for something to happen...";
    animation: text-animation 20s infinite;
}

.container {
    width: 400px;
    height: 100px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.spinner {
    margin: auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner>div {
    background-color: white;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

@keyframes text-animation {
    0% {
        content: "Waiting for something to happen..."
    }

    10% {
        content: "Waiting for something to happen...";
    }

    20% {
        content: "You know nothing, Koobay 😇";
    }

    30% {
        content: "Strat is a Dumbass 😂";
    }

    40% {
        content: "💘 Fraise is awesome 🍓";
    }

    50% {
        content: "Tex is looking for a man 👌";
    }

    60% {
        content: "Mori is a black cat 🐈";
    }

    70% {
        content: "I'm awesome 👍";
    }

    80% {
        content: "Still here ?";

    }

    90% {
        content: "You shouldn't";
    }

    100% {
        content: "Go to bed now ...";
    }
}